body {
	font-family: Avenir, Avenir Next, sans-serif !important;
	color: #f8f8f2;
	background-color: #282a36;
}

.document__top-bar {
	color: #ff79c6;
}

.rem-text {
	font-size: 18px;
	line-height: 1.6;
}

.rem-header--1 {
	font-size: 25px;
	color: #9A48FF;
}

.rem-header--2 {
	color: #FF880A;
	font-size: 21px;
}

.rem-header--3 {
	font-size: 20px;
	color: #FFB70A;
}

.hierarchy-editor__tag-bar__tag {
	color: #8be9fd;
	font-size: 14px;
	background-color: #44475a;
	}
.hierarchy-editor__tag-bar__tag:hover {
	color: #ffb86c;
	}

.rem-reference-link {
	color: #ffb86c;
}

.rem-reference-link:hover {
	color: #8be9fd;
	background-color: #44475a;
}

.highlight-color--red {
	background-color: unset;
	background-image: linear-gradient(transparent 70%, red, transparent);
}

.highlight-color--yellow {
	background-color: unset;
	background-image: linear-gradient(transparent 70%, yellow, transparent);
}

.highlight-color--orange {
	background-color: unset;
	background-image: linear-gradient(transparent 70%, orange, transparent);
}

.highlight-color--green {
	background-color: unset;
	background-image: linear-gradient(transparent 70%, green, transparent);
}

.highlight-color--purple {
	background-color: unset;
	background-image: linear-gradient(transparent 70%, purple, transparent);
}

.highlight-color--blue {
	background-color: unset;
	background-image: linear-gradient(transparent 70%, blue, transparent);
}

#code-node {
	background-color: #44475a;
}

.quote {
	background-color: #44475a;
	border-left: 5px solid #ffb86c;  
}

.bold {
	color: #50fa7b;
	}