body {
	font-family: Avenir, Avenir Next, sans-serif !important;
}

.rem-text {
	font-size: 18px;
	line-height: 1.6;
}

.rem-header--1 {
	font-size: 25px;
	color: #bd93f9;
}
.rem-header--2 {
	color: #ff5555;
	font-size: 21px;
}
.rem-header--3 {
	font-size: 20px;
	color: #ffb86c;
}

.highlight-color--red {
	background-color: unset;
	background-image: linear-gradient(transparent 60%, red, transparent);
}
.highlight-color--yellow {
    background-color: unset;
	background-image: linear-gradient(transparent 50%, yellow);
}
.highlight-color--orange {
    background-color: unset;
	background-image: linear-gradient(transparent 50%, orange);
}
.highlight-color--green {
    background-color: unset;
	background-image: linear-gradient(transparent 50%, green);
}
.highlight-color--purple {
    background-color: unset;
	background-image: linear-gradient(transparent,70%, purple);
}
.highlight-color--purple {
    background-color: unset;
	background-image: linear-gradient(transparent 50%, purple);
}

.highlight-color--blue {
	background-color: unset;
	background-image: linear-gradient(transparent 50%, blue);
	}